@charset "utf-8";

@import url("https://use.typekit.net/mrc1yiv.css");


@import "~modern-css-reset";

img, picture {
  /* Undo properties from modern-css-reset because they can cause images with an
   * explicit height attribute to get stretched without preserving the aspect
   * ratio. */
  display: initial;
  max-width: initial;
}

/* Base styles */

html {
  /* Set root em relative to browser default font size for accessibility. */
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "neue-haas-grotesk-text", "Neue Haas", sans-serif;
  font-size: 1.6rem;
  background-color: #ffffff;
  color: #333333;
  line-height: 1.42857;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
}

/* Adapted from bootstrap/type */
p {
  margin: 0 0 1.4em;
}

/* Adapted from bootstrap/type */
ul, ol {
  margin-top: 0;
  margin-bottom: 1.4em;
}

pre, code, kbd, samp {
  font-family: roboto-mono, "Roboto Mono", monospace;
}

/* TODO: Find all custom components that have not overridden the :active color. */
a,
a:hover,
a:focus {
  color: #fc3f4e;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

/* Print styles */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    /* Fixed-width layout makes print layout more predictable; 670px gives good results */
    width: 670px;
    margin: 0 auto;
  }
}

/* Hubspot cookie */

div#hs-eu-cookie-confirmation.can-use-gradients {
  top: 4rem !important;
  left: auto;
  right: 0rem;
  max-width: 45% !important;
}
